---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import { CONTACTS_INFO_ICON, DISPLAY_CONTACTS_INFO } from "../consts.ts";
import Layout from "../layouts/Layout.astro";

import PamphletImage from "../assets/pamphlet.jpg";

const googleCalendarUrl =
  "http://www.google.com/calendar/event?" +
  "action=" +
  "TEMPLATE" +
  "&text=" +
  encodeURIComponent("2024年度筑波大学新歓祭") +
  "&dates=" +
  "20240406T090000" +
  encodeURIComponent("/") +
  "20240406T160000" +
  "&location=" +
  "第一エリア、石の広場及びその周辺、第二エリア";

const committeeEmail = "shinkan@stb.tsukuba.ac.jp";
---

<Layout pageName="新歓祭・新歓Webについて">
  <article class="container">
    <!-- <hgroup class="title-line">
      <h1>新歓祭について</h1>
    </hgroup>
    <section>
      <p>
        新入生の皆さん、ご入学おめでとうございます。 2024年度の新歓祭では新入生歓迎委員会
        (文化系サークル連合会・芸術系サークル連合会・体育会、及び全代会から構成された組織)
        主催の下、筑波大学の様々な課外活動組織(サークル・部活・一般学生団体・学生組織)
        が「対面形式」で皆さんを歓迎します！
      </p>
      <p>2024年度新入生歓迎祭(新歓祭)のパンフレットは以下のリンクからご参照ください。</p>
      <a href="/attachments/24年度新歓祭パンフレット.pdf" target="_blank" class="pamphlet">
        <Image src={PamphletImage} alt="新歓祭パンフレットの表紙" />
        <p>24年度新歓祭パンフレット.pdf (16.8 MB)</p>
      </a>
      <p>以下、2024年度新歓祭に関する概要になります。</p>
    </section>
    <section>
      <h2>開催日時</h2>
      <p><time datetime="2024-04-06T09:00">4月6日(土)9時</time>から<time datetime="2024-04-06T16:00">16時</time></p>
      <a href={googleCalendarUrl} target="_blank">Google Calendarに追加する</a>
    </section>
    <section>
      <h2>場所</h2>
      <p>第一エリア、石の広場及びその周辺、第二エリア</p>
      <div>
        <p>
          場所についての詳細はこちら：
          <span>
            <a href="https://www.tsukuba.ac.jp/access/tsukuba-campus/1a.html" target="_blank">第一エリア</a>
            <span>・</span>
            <a href="https://www.tsukuba.ac.jp/access/tsukuba-campus/ishi-hiroba.html" target="_blank">石の広場</a>
            <span>・</span>
            <a href="https://www.tsukuba.ac.jp/access/tsukuba-campus/2a.html" target="_blank">第二エリア</a>
          </span>
        </p>
      </div>
    </section>
    <section>
      <h2>入場について</h2>
      <p>
        入場券等は必要ありませんが、松美池前、第二エリアの白色のテントにて新歓祭パンフレットを配布しております。お気軽にお立ち寄り下さい！
      </p>
    </section>
    <section>
      <h2>諸注意</h2>
      <section>
        <h3>新入生の方に気を付けていただきたい事</h3>
        <p>
          新歓祭参加団体かどうかを区別するために、参加団体関係者には緑色の紙が入った名札を配布しています。そのため、会場で配布されているビラをもらうときは相手が緑色の紙が入った名札をつけているかを必ず確認してください。
        </p>
        <p>アンケート等と称して正体を隠して勧誘する悪質な団体に注意してください。</p>
        <p>迷惑に感じたり、興味がなければ、曖昧にせずはっきりと「<strong>NO</strong>」の意思表示をしましょう。</p>
        <p>
          なお、こうした悪質な勧誘につきましては、発見次第、ピンク色のベストまたはオレンジ色の上着を来ている新歓祭スタッフまでご一報ください。
        </p>
      </section>
      <section>
        <h3>新歓祭参加団体に気を付けていただきたい事</h3>
        <p>20 歳未満の方の飲酒や、それを勧める行為は禁じられています。</p>
        <p>
          サークル費などの必要な情報を説明するようにしてください。また、必ず新入生の同意のうえで新歓活動を行ってください。悪質な場合は処罰を受けることとなります。
        </p>
      </section>
      <h3>トラブルが発生した場合</h3>
      <section>
        <p>
          新歓祭・その他新歓活動期間中にトラブルが発生した場合は、お気軽にお近くの新歓祭スタッフ・新入生歓迎委員にご相談ください。
        </p>
        <p>
          また、もし新歓祭スタッフ・新入生歓迎委員に相談しにくいようなトラブルが発生した場合は、 顧問教員や学生生活課 (<a
            class="tel"
            href="tel:0298532248">029-853-2248</a
          >) などへの相談をご検討ください。
        </p>
      </section>
      <section>
        <h3>交通規制について</h3>
        <p>
          新歓祭が実施される4月6日(土)は実施会場内で自転車に乗らないようにしてください。
          来場される方は１Ｇ棟前の通路を挟んだ松美池側の芝生やスチューデントサポートセンター前、会場外の駐輪場に駐輪するようにしてください。
        </p>
        <p>詳細については別紙をご覧ください。</p>
        <div>
          <p>
            <a href="/attachments/別紙_交通規制_大学会館周辺2024.pdf" target="_blank"
              >別紙_交通規制_大学会館周辺2024.pdf (199 KB)
            </a>
          </p>
          <p>
            <a href="/attachments/別紙_交通規制_第1エリア2024.pdf" target="_blank"
              >別紙_交通規制_第1エリア2024.pdf (264 KB)</a
            >
          </p>
          <p>
            <a href="/attachments/別紙_交通規制_石の広場2024.pdf" target="_blank"
              >別紙_交通規制_石の広場2024.pdf (1,281 KB)</a
            >
          </p>
        </div>
      </section>
      <section class="contacts">
        <h3>お問い合わせについて</h3>
        <p>新歓祭に関するお問い合わせは、新入生歓迎委員会までご連絡ください。</p>
        <address>
          <dl>
            <div class="info-wrapper">
              <>
                <dt>
                  <Icon name={CONTACTS_INFO_ICON["email"]} area-hidden />
                  {DISPLAY_CONTACTS_INFO["email"]}
                </dt>
                <dd>
                  <a href={`mailto:${committeeEmail}`} target="_blank" rel="noopener">
                    {committeeEmail}
                  </a>
                </dd>
              </>
            </div>
          </dl>
        </address>
      </section>
    </section> -->
    <section>
      <h2>新歓Webについて</h2>
      <p>本サイトでは、新歓祭や新歓活動を行う大学公認団体についての情報を提供しています。</p>
      <p>団体一覧での並び順については公平性の観点から半日に1回順序をランダムに並び替えています。</p>
      <section>
        <h3>お気に入り機能について</h3>
        <p>
          お気に入りの団体情報は、ウェブブラウザ内に保存されます。どの団体をお気に入りに入れているかなどは他のウェブサイトやアプリケーションと共有されません。
        </p>
        <p>
          また、お気に入りした団体の一覧を確認したり、お気に入りの情報をすべて削除したい場合は、以下のボタンをクリックしてください。
        </p>
        <div class="button-wrapper">
          <a href="/?f=0" class="button" id="faves-view">お気に入りした団体一覧を確認する</a>
          <button class="button" id="faves-delete">お気に入り情報をすべて削除する</button>
        </div>
      </section>
      <section>
        <h3>新歓Web 2025 開発者等一覧</h3>
        <ul>
          <li>
            <a href="https://github.com/Ryoga-exe/" target="_blank" rel="noopener">Ryoga-exe</a> (フロントエンド主担当)
          </li>
          <li><a href="https://github.com/ao_ringo_uni" target="_blank" rel="noopener">ao_ringo_uni</a> (Webデザイン主担当)</li>
          <li>
            <a href="https://github.com/raspi0124" target="_blank" rel="noopener">raspi0124</a> (バックエンド (+一部検索)・各種事務)
          </li>
          <li><a href="https://eka.earth/" target="_blank" rel="noopener">Ekasilicon (各種事務)</a></li>
          <li><a href="https://210o.net/" target="_blank" rel="noopener">江波戸憧音</a> (非Web系デザイン)</li>
          <li><a href="https://github.com/N1su1" target="_blank" rel="noopener">にすい (非Web系デザイン)</a></li>
        </ul>
      </section>
      <section class="contacts">
        <h2>各種お問い合わせについて</h2>
        <section>
          <h3>新歓Webについてのお問い合わせ (本フォームへの入力・その他新歓Webについて)</h3>
          <p>全学学類・専門学群・総合学域群代表者会議 情報処理推進委員会</p>
          <address>
            <dl>
              <div class="info-wrapper">
                <dt>
                  <Icon name="mdi:email-outline" area-hidden />
                  メールアドレス
                </dt>
                <dd>
                  <a href="mailto:ipc@zdk.tsukuba.ac.jp" target="_blank" rel="noopener"> ipc@zdk.tsukuba.ac.jp </a>
                </dd>
              </div>
            </dl>
          </address>
        </section>
        <section>
          <h3>その他、新歓祭・新歓期間等についてのお問い合わせ</h3>
          <p>新入生歓迎委員会へお問い合わせください</p>
          <address>
            <dl>
              <div class="info-wrapper">
                <dt>
                  <Icon name="mdi:web" area-hidden />
                  公式HP
                </dt>
                <dd>
                  <a href="https://www.stb.tsukuba.ac.jp/~shinkan/" target="_blank" rel="noopener">
                    https://www.stb.tsukuba.ac.jp/~shinkan/
                  </a>
                </dd>
              </div>
            </dl>
          </address>
        </section>
      </section>
    </section>
  </article>
</Layout>

<style>
  .title-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-block: 1rem;
  }
  .pamphlet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-block: 2rem;
  }
  .pamphlet img {
    display: block;
    max-width: min(300px, 80vw);
    height: auto;
    margin-block-end: 1rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
  }
  h2 {
    font-size: 1.5rem;
    font-weight: 600;
    padding-block: 0 0.1em;
    border-block-end: 1px solid hsla(210, 18%, 87%, 1);
    border-inline-start: 0.25em solid var(--accent);
    padding-inline-start: 1ch;
    margin-block: 2rem 1rem;
  }
  h3 {
    font-weight: 600;
    font-size: 1.25rem;
    margin-block: 1.75rem 1rem;
  }
  section p {
    margin-block: 0 1rem;
  }
  section a {
    background-color: transparent;
    color: var(--link);
    text-decoration: underline;
    word-break: break-word;
    transition: all 0.2s;
  }
  section a:hover {
    color: var(--link-hover);
  }
  section a.tel {
    color: #666;
  }
  .contacts dl {
    display: grid;
    grid-template-rows: auto auto;
    place-content: center start;
    gap: 0.35rem 1rem;
  }
  .contacts dt {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    grid-column: 1 / 2;
    font-weight: bold;
  }
  .contacts dd {
    grid-column: 2 / 3;
  }
  .contacts dd a {
    background-color: transparent;
    color: var(--link);
    text-decoration: underline;
    word-break: break-word;
    transition: all 0.2s;
  }
  .contacts dd a:hover {
    color: var(--link-hover);
  }
  .contacts .info-wrapper {
    display: contents;
  }
  .contacts [data-icon] {
    width: 1.2em;
    height: 1.2em;
  }
  section .button {
    display: inline-block;
    font-size: 1rem;
    background: var(--accent);
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.25em;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.2s;
  }
  section .button:hover {
    color: #ccc;
    background: var(--accent-dimmed);
  }
  .button-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: 2rem;
  }
  @media screen and (max-width: 670px) {
    .contacts dt {
      grid-column: none;
      padding-block: 0.1rem;
    }
    .contacts dd {
      grid-column: none;
      padding-block: 0.1rem;
    }
    .contacts .info-wrapper {
      display: block;
    }
  }
</style>

<script>
  const favesView = document.querySelector("#faves-view")!;
  const favesDelete = document.querySelector("#faves-delete")!;

  if (typeof localStorage !== "undefined") {
    const val = localStorage.getItem("favoriteGroups");
    if (val) {
      favesView.setAttribute("href", `/?f=${val}`);
    }
  }

  favesDelete.addEventListener("click", () => {
    if (window.confirm("お気に入り情報をすべて削除しますか？")) {
      if (typeof localStorage !== "undefined") {
        localStorage.removeItem("favoriteGroups");
        favesView.setAttribute("href", `/?f=0`);
      }
    }
  });
</script>
